block vars
	- dev = true
	- dev = false
	- amp = false
include ../mixin.pug
doctype html
html(lang='en-US')
	head
		meta(charset='UTF-8')
		link(rel='profile', href='http://gmpg.org/xfn/11')
		link(rel='pingback', href='http://bee.zecelucruri.ro/xmlrpc.php')
		link(rel='shortcut icon', type='image/x-icon', href='http://demo.elated-themes.com/borderland2/wp-content/themes/borderland/img/favicon.ico')
		link(rel='apple-touch-icon', href='http://demo.elated-themes.com/borderland2/wp-content/themes/borderland/img/favicon.ico')
		meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no')
		title Bee – Just another WordPress site
		link(href='//fonts.googleapis.com/css?family=Open+Sans:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic%7CRaleway:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic%7CDancing+Script:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic%7CLato:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic%7CRaleway:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic%7CDancing+Script:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic%26subset%3Dlatin%2Clatin-ext', rel='stylesheet', type='text/css')
		link(rel='dns-prefetch', href='//maps.googleapis.com')
		link(rel='dns-prefetch', href='//s.w.org')
		link(rel='alternate', type='application/rss+xml', title='Bee » Feed', href='http://bee.zecelucruri.ro/feed/')
		link(rel='alternate', type='application/rss+xml', title='Bee » Comments Feed', href='http://bee.zecelucruri.ro/comments/feed/')
		link(rel='alternate', type='application/rss+xml', title='Bee » Home Comments Feed', href='http://bee.zecelucruri.ro/home/feed/')
		script(type='text/javascript').
			window._wpemojiSettings = {"baseUrl":"https:\\/\/s.w.org\/images\/core\/emoji\/2.4\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.4\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/bee.zecelucruri.ro\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.6"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55357,56692,8205,9792,65039],[55357,56692,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
		style(type='text/css').
			img.wp-smiley,
			img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
			}
		//-
		link#layerslider-css(rel='stylesheet', href='original/layerslider.css', type='text/css', media='all')
		link#contact-form-7-css(rel='stylesheet', href='original/styles.css', type='text/css', media='all')
		link#eltd_default_style-css(rel='stylesheet', href='original/style.css', type='text/css', media='all')
		link#eltd_stylesheet-css(rel='stylesheet', href='original/stylesheet.min.css', type='text/css', media='all')
		link#eltd_blog-css(rel='stylesheet', href='original/blog.min.css', type='text/css', media='all')
		link#eltd_style_dynamic-css(rel='stylesheet', href='original/style_dynamic.css', type='text/css', media='all')
		link#eltd_font_awesome-css(rel='stylesheet', href='original/font-awesome.min.css', type='text/css', media='all')
		link#eltd_font_elegant-css(rel='stylesheet', href='original/style.min.css', type='text/css', media='all')
		link#eltd_ion_icons-css(rel='stylesheet', href='original/ionicons.min.css', type='text/css', media='all')
		link#eltd_linea_icons-css(rel='stylesheet', href='original/style.css', type='text/css', media='all')
		link#eltd_responsive-css(rel='stylesheet', href='original/responsive.min.css', type='text/css', media='all')
		link#eltd_style_dynamic_responsive-css(rel='stylesheet', href='original/style_dynamic_responsive.css', type='text/css', media='all')
		link#js_composer_front-css(rel='stylesheet', href='original/js_composer.min.css', type='text/css', media='all')
		link#eltd_custom_css-css(rel='stylesheet', href='original/custom_css.css', type='text/css', media='all')
		link#eltd_webkit-css(rel='stylesheet', href='original/webkit_stylesheet.css', type='text/css', media='all')
		link#childstyle-css(rel='stylesheet', href='original/style.css', type='text/css', media='all')
		script(type='text/javascript').
			/* <![CDATA[ */
			var LS_Meta = {"v":"6.7.1"};
			/* ]]> */
		script(type='text/javascript', src='original/greensock.js?ver=1.19.0')
		script(type='text/javascript', src='original/jquery.js?ver=1.12.4')
		script(type='text/javascript', src='original/jquery-migrate.min.js?ver=1.4.1')
		script(type='text/javascript', src='original/layerslider.kreaturamedia.jquery.js?ver=6.7.1')
		script(type='text/javascript', src='original/layerslider.transitions.js?ver=6.7.1')
		
		//-
			link#layerslider-css(rel='stylesheet', href='http://bee.zecelucruri.ro/wp-content/plugins/LayerSlider/static/layerslider/css/layerslider.css?ver=6.7.1', type='text/css', media='all')
			link#contact-form-7-css(rel='stylesheet', href='http://bee.zecelucruri.ro/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.0.1', type='text/css', media='all')
			link#eltd_default_style-css(rel='stylesheet', href='http://bee.zecelucruri.ro/wp-content/themes/borderland/style.css?ver=4.9.6', type='text/css', media='all')
			link#eltd_stylesheet-css(rel='stylesheet', href='http://bee.zecelucruri.ro/wp-content/themes/borderland/css/stylesheet.min.css?ver=4.9.6', type='text/css', media='all')
			link#eltd_blog-css(rel='stylesheet', href='http://bee.zecelucruri.ro/wp-content/themes/borderland/css/blog.min.css?ver=4.9.6', type='text/css', media='all')
			link#eltd_style_dynamic-css(rel='stylesheet', href='http://bee.zecelucruri.ro/wp-content/themes/borderland/css/style_dynamic.css?ver=1523706786', type='text/css', media='all')
			link#eltd_font_awesome-css(rel='stylesheet', href='http://bee.zecelucruri.ro/wp-content/themes/borderland/css/font-awesome/css/font-awesome.min.css?ver=4.9.6', type='text/css', media='all')
			link#eltd_font_elegant-css(rel='stylesheet', href='http://bee.zecelucruri.ro/wp-content/themes/borderland/css/elegant-icons/style.min.css?ver=4.9.6', type='text/css', media='all')
			link#eltd_ion_icons-css(rel='stylesheet', href='http://bee.zecelucruri.ro/wp-content/themes/borderland/css/ion-icons/css/ionicons.min.css?ver=4.9.6', type='text/css', media='all')
			link#eltd_linea_icons-css(rel='stylesheet', href='http://bee.zecelucruri.ro/wp-content/themes/borderland/css/linea-icons/style.css?ver=4.9.6', type='text/css', media='all')
			link#eltd_responsive-css(rel='stylesheet', href='http://bee.zecelucruri.ro/wp-content/themes/borderland/css/responsive.min.css?ver=4.9.6', type='text/css', media='all')
			link#eltd_style_dynamic_responsive-css(rel='stylesheet', href='http://bee.zecelucruri.ro/wp-content/themes/borderland/css/style_dynamic_responsive.css?ver=1523706786', type='text/css', media='all')
			link#js_composer_front-css(rel='stylesheet', href='http://bee.zecelucruri.ro/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=5.4.7', type='text/css', media='all')
			link#eltd_custom_css-css(rel='stylesheet', href='http://bee.zecelucruri.ro/wp-content/themes/borderland/css/custom_css.css?ver=1523706786', type='text/css', media='all')
			link#eltd_webkit-css(rel='stylesheet', href='http://bee.zecelucruri.ro/wp-content/themes/borderland/css/webkit_stylesheet.css?ver=4.9.6', type='text/css', media='all')
			link#childstyle-css(rel='stylesheet', href='http://bee.zecelucruri.ro/wp-content/themes/borderland-bee/style.css?ver=4.9.6', type='text/css', media='all')
			script(type='text/javascript').
				/* <![CDATA[ */
				var LS_Meta = {"v":"6.7.1"};
				/* ]]> */
			script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/plugins/LayerSlider/static/layerslider/js/greensock.js?ver=1.19.0')
			script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-includes/js/jquery/jquery.js?ver=1.12.4')
			script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1')
			script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/plugins/LayerSlider/static/layerslider/js/layerslider.kreaturamedia.jquery.js?ver=6.7.1')
			script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/plugins/LayerSlider/static/layerslider/js/layerslider.transitions.js?ver=6.7.1')
		// LayerSlider updates and docs at: https://layerslider.kreaturamedia.com
		meta(name='generator', content='Powered by LayerSlider 6.7.1 - Multi-Purpose, Responsive, Parallax, Mobile-Friendly Slider Plugin for WordPress.')
		link(rel='https://api.w.org/', href='http://bee.zecelucruri.ro/wp-json/')
		link(rel='EditURI', type='application/rsd+xml', title='RSD', href='http://bee.zecelucruri.ro/xmlrpc.php?rsd')
		link(rel='wlwmanifest', type='application/wlwmanifest+xml', href='http://bee.zecelucruri.ro/wp-includes/wlwmanifest.xml')
		meta(name='generator', content='WordPress 4.9.6')
		link(rel='canonical', href='http://bee.zecelucruri.ro/')
		link(rel='shortlink', href='http://bee.zecelucruri.ro/')
		link(rel='alternate', type='application/json+oembed', href='http://bee.zecelucruri.ro/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fbee.zecelucruri.ro%2F')
		link(rel='alternate', type='text/xml+oembed', href='http://bee.zecelucruri.ro/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fbee.zecelucruri.ro%2F&format=xml')
		
		
		//if IE 9
			link(rel='stylesheet', type='text/css', href='http://bee.zecelucruri.ro/wp-content/themes/borderland/css/ie9_stylesheet.css', media='screen')
		style(type='text/css').
			.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}


		link(rel='stylesheet', href='css/app.css', type='text/css', media='all')
		
		meta(name='generator', content='Powered by WPBakery Page Builder - drag and drop page builder for WordPress.')
		//if lte IE 9
			link(rel='stylesheet', type='text/css', href='http://bee.zecelucruri.ro/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css', media='screen')
		noscript
			style(type='text/css').
				.wpb_animate_when_almost_visible { opacity: 1; }
	body.home.page-template.page-template-full_width.page-template-full_width-php.page.page-id-6.ajax_fade.page_not_loaded.borderland.vertical_menu_with_scroll.smooth_scroll.paspartu_enabled.wpb-js-composer.vc_responsive(class='eltd-core-1.0.3 child-child-ver-1.0.0 borderland-ver-1.15 js-comp-ver-5.4.7')
		.ajax_loader
			.ajax_loader_1
				.rotating_cubes
					.cube1
					.cube2
		.wrapper
			.wrapper_inner
				header.page_header.scrolled_not_transparent.fixed.paspartu_header_alignment
					.header_inner.clearfix
						.header_top_bottom_holder
							.header_bottom.header_full_width.clearfix(style='background-color:rgba(31, 31, 31, 1);')
								.header_inner_left
									.mobile_menu_button
										span
											i.eltd_icon_font_awesome.fa.fa-bars
									.logo_wrapper
										.eltd_logo
											a(href='http://bee.zecelucruri.ro/')
												img.normal(src='http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/04/logo-retina-light.png', alt='Logo')
												img.light(src='http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/04/logo-retina-light.png', alt='Logo')
												img.dark(src='http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/04/logo-retina-dark.png', alt='Logo')
												img.sticky(src='http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/04/logo-retina-dark.png', alt='Logo')
												img.mobile(src='http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/04/logo-retina-light.png', alt='Logo')
								.header_inner_right
									.side_menu_button_wrapper.right
										.header_bottom_right_widget_holder
											.header_bottom_widget.widget_text
												.textwidget
													span.eltd_icon_shade.eltd_icon_shortcode.font_awesome.square(data-hover-background-color='#4a4a4a', style='background-color: #2a2a2a;border-width: 0px!important; border-style:solid;margin: 0 -1px 0 0;line-height:40px;width:40px;height:40px;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;')
														a(href='https://www.facebook.com/', target='_blank', style='color: #808080;')
															i.eltd_icon_font_awesome.fa.fa-facebook(style='color: #808080;vertical-align:bottom;line-height:40px;font-size: 13px; ', data-hover-color='#ffffff')
													span.eltd_icon_shade.eltd_icon_shortcode.font_awesome.square(data-hover-background-color='#4a4a4a', style='background-color: #2a2a2a;border-width: 0px!important; border-style:solid;margin: 0 -2px 0 0;line-height:40px;width:40px;height:40px;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;')
														a(href='https://twitter.com/', target='_blank', style='color: #808080;')
															i.eltd_icon_font_awesome.fa.fa-twitter(style='color: #808080;vertical-align:bottom;line-height:40px;font-size: 13px; ', data-hover-color='#ffffff')
													span.eltd_icon_shade.eltd_icon_shortcode.font_awesome.square(data-hover-background-color='#4a4a4a', style='background-color: #2a2a2a;border-width: 0px!important; border-style:solid;line-height:40px;width:40px;height:40px;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;')
														a(href='https://www.tumblr.com/', target='_blank', style='color: #808080;')
															i.eltd_icon_font_awesome.fa.fa-tumblr(style='color: #808080;vertical-align:bottom;line-height:40px;font-size: 13px; ', data-hover-color='#ffffff')
										.side_menu_button
								nav.main_menu.drop_down.animate_height.right
									ul#menu-main_menu
										li#nav-menu-item-50602.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.current-menu-item.page_item.page-item-6.current_page_item.narrow
											a.current(href='http://bee.zecelucruri.ro/')
												span.item_inner
													span.menu_icon_wrapper
														i.menu_icon.blank.fa
													span.item_text Homepage
												span.plus
										li#nav-menu-item-50590.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has_sub.narrow
											a(href='#')
												span.item_inner
													span.menu_icon_wrapper
														i.menu_icon.blank.fa
													span.item_text Demos
												span.plus
											.second
												.inner
													ul
														li#nav-menu-item-50591.menu-item.menu-item-type-custom.menu-item-object-custom
															a(href='http://demo.elated-themes.com/borderland1/')
																span.item_inner
																	span.menu_icon_wrapper
																		i.menu_icon.blank.fa
																	span.item_text Sierra
																span.plus
														li#nav-menu-item-50592.menu-item.menu-item-type-custom.menu-item-object-custom
															a(href='http://demo.elated-themes.com/borderland3/')
																span.item_inner
																	span.menu_icon_wrapper
																		i.menu_icon.blank.fa
																	span.item_text Range
																span.plus
														li#nav-menu-item-50593.menu-item.menu-item-type-custom.menu-item-object-custom
															a(href='http://demo.elated-themes.com/borderland4/')
																span.item_inner
																	span.menu_icon_wrapper
																		i.menu_icon.blank.fa
																	span.item_text Bronco
																span.plus
														li#nav-menu-item-50594.menu-item.menu-item-type-custom.menu-item-object-custom
															a(href='http://demo.elated-themes.com/borderland5/')
																span.item_inner
																	span.menu_icon_wrapper
																		i.menu_icon.blank.fa
																	span.item_text Pasture
																span.plus
														li#nav-menu-item-50595.menu-item.menu-item-type-custom.menu-item-object-custom
															a(href='http://demo.elated-themes.com/borderland6/')
																span.item_inner
																	span.menu_icon_wrapper
																		i.menu_icon.blank.fa
																	span.item_text Mesa
																span.plus
														li#nav-menu-item-50596.menu-item.menu-item-type-custom.menu-item-object-custom
															a(href='http://demo.elated-themes.com/borderland7/')
																span.item_inner
																	span.menu_icon_wrapper
																		i.menu_icon.blank.fa
																	span.item_text Maverick
																span.plus
														li#nav-menu-item-50597.menu-item.menu-item-type-custom.menu-item-object-custom
															a(href='http://demo.elated-themes.com/borderland8/')
																span.item_inner
																	span.menu_icon_wrapper
																		i.menu_icon.blank.fa
																	span.item_text Riata
																span.plus
														li#nav-menu-item-50598.menu-item.menu-item-type-custom.menu-item-object-custom
															a(href='http://demo.elated-themes.com/borderland9/')
																span.item_inner
																	span.menu_icon_wrapper
																		i.menu_icon.blank.fa
																	span.item_text Rockies
																span.plus
														li#nav-menu-item-50599.menu-item.menu-item-type-custom.menu-item-object-custom
															a(href='http://demo.elated-themes.com/borderland10/')
																span.item_inner
																	span.menu_icon_wrapper
																		i.menu_icon.blank.fa
																	span.item_text Plateau
																span.plus
														li#nav-menu-item-50600.menu-item.menu-item-type-custom.menu-item-object-custom
															a(href='http://demo.elated-themes.com/borderland11/')
																span.item_inner
																	span.menu_icon_wrapper
																		i.menu_icon.blank.fa
																	span.item_text Canyon
																span.plus
														li#nav-menu-item-50601.menu-item.menu-item-type-custom.menu-item-object-custom
															a(href='http://demo.elated-themes.com/borderland12/')
																span.item_inner
																	span.menu_icon_wrapper
																		i.menu_icon.blank.fa
																	span.item_text Outback
																span.plus
										li#nav-menu-item-50585.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has_sub.narrow
											a(href='#')
												span.item_inner
													span.menu_icon_wrapper
														i.menu_icon.blank.fa
													span.item_text Portfolio
												span.plus
											.second
												.inner
													ul
														li#nav-menu-item-50586.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.sub
															a(href='#')
																span.item_inner
																	span.menu_icon_wrapper
																		i.menu_icon.blank.fa
																	span.item_text Standard
																span.plus
																i.eltd_menu_arrow.fa.fa-angle-right
															ul
																li#nav-menu-item-50606.menu-item.menu-item-type-post_type.menu-item-object-page
																	a(href='http://bee.zecelucruri.ro/standard-grid-1/')
																		span.item_inner
																			span.menu_icon_wrapper
																				i.menu_icon.blank.fa
																			span.item_text In Grid 1
																		span.plus
																li#nav-menu-item-50607.menu-item.menu-item-type-post_type.menu-item-object-page
																	a(href='http://bee.zecelucruri.ro/standard-grid-2/')
																		span.item_inner
																			span.menu_icon_wrapper
																				i.menu_icon.blank.fa
																			span.item_text In Grid 2
																		span.plus
																li#nav-menu-item-50619.menu-item.menu-item-type-post_type.menu-item-object-page
																	a(href='http://bee.zecelucruri.ro/standard-wide/')
																		span.item_inner
																			span.menu_icon_wrapper
																				i.menu_icon.blank.fa
																			span.item_text Wide
																		span.plus
														li#nav-menu-item-50587.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.sub
															a(href='#')
																span.item_inner
																	span.menu_icon_wrapper
																		i.menu_icon.blank.fa
																	span.item_text Text Over Image
																span.plus
																i.eltd_menu_arrow.fa.fa-angle-right
															ul
																li#nav-menu-item-50609.menu-item.menu-item-type-post_type.menu-item-object-page
																	a(href='http://bee.zecelucruri.ro/text-over-image-grid/')
																		span.item_inner
																			span.menu_icon_wrapper
																				i.menu_icon.blank.fa
																			span.item_text In Grid 1
																		span.plus
																li#nav-menu-item-50608.menu-item.menu-item-type-post_type.menu-item-object-page
																	a(href='http://bee.zecelucruri.ro/text-over-image-wide/')
																		span.item_inner
																			span.menu_icon_wrapper
																				i.menu_icon.blank.fa
																			span.item_text Wide
																		span.plus
																li#nav-menu-item-50610.menu-item.menu-item-type-post_type.menu-item-object-page
																	a(href='http://bee.zecelucruri.ro/text-over-image-wide-no-space/')
																		span.item_inner
																			span.menu_icon_wrapper
																				i.menu_icon.blank.fa
																			span.item_text Wide No Space
																		span.plus
														li#nav-menu-item-50588.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.sub
															a(href='#')
																span.item_inner
																	span.menu_icon_wrapper
																		i.menu_icon.blank.fa
																	span.item_text Text On Image Hover
																span.plus
																i.eltd_menu_arrow.fa.fa-angle-right
															ul
																li#nav-menu-item-50612.menu-item.menu-item-type-post_type.menu-item-object-page
																	a(href='http://bee.zecelucruri.ro/text-on-image-hover-grid/')
																		span.item_inner
																			span.menu_icon_wrapper
																				i.menu_icon.blank.fa
																			span.item_text In Grid
																		span.plus
																li#nav-menu-item-50611.menu-item.menu-item-type-post_type.menu-item-object-page
																	a(href='http://bee.zecelucruri.ro/text-on-image-hover-wide/')
																		span.item_inner
																			span.menu_icon_wrapper
																				i.menu_icon.blank.fa
																			span.item_text Wide
																		span.plus
																li#nav-menu-item-50613.menu-item.menu-item-type-post_type.menu-item-object-page
																	a(href='http://bee.zecelucruri.ro/text-on-image-hover-wide-no-space/')
																		span.item_inner
																			span.menu_icon_wrapper
																				i.menu_icon.blank.fa
																			span.item_text Wide No Space
																		span.plus
														li#nav-menu-item-50615.menu-item.menu-item-type-post_type.menu-item-object-page
															a(href='http://bee.zecelucruri.ro/masonry/')
																span.item_inner
																	span.menu_icon_wrapper
																		i.menu_icon.blank.fa
																	span.item_text Masonry
																span.plus
														li#nav-menu-item-50614.menu-item.menu-item-type-post_type.menu-item-object-page
															a(href='http://bee.zecelucruri.ro/portfolio-hover-effects/')
																span.item_inner
																	span.menu_icon_wrapper
																		i.menu_icon.blank.fa
																	span.item_text Portfolio Hover Effects
																span.plus
										li#nav-menu-item-50589.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has_sub.narrow
											a(href='#')
												span.item_inner
													span.menu_icon_wrapper
														i.menu_icon.blank.fa
													span.item_text Blog
												span.plus
											.second
												.inner
													ul
														li#nav-menu-item-50616.menu-item.menu-item-type-post_type.menu-item-object-page
															a(href='http://bee.zecelucruri.ro/blog-standard/')
																span.item_inner
																	span.menu_icon_wrapper
																		i.menu_icon.blank.fa
																	span.item_text Blog Standard
																span.plus
														li#nav-menu-item-50617.menu-item.menu-item-type-post_type.menu-item-object-page
															a(href='http://bee.zecelucruri.ro/blog-with-sidebar/')
																span.item_inner
																	span.menu_icon_wrapper
																		i.menu_icon.blank.fa
																	span.item_text Blog With Sidebar
																span.plus
														li#nav-menu-item-50618.menu-item.menu-item-type-post_type.menu-item-object-page
															a(href='http://bee.zecelucruri.ro/blog-masonry-wide/')
																span.item_inner
																	span.menu_icon_wrapper
																		i.menu_icon.blank.fa
																	span.item_text Blog Masonry Wide
																span.plus
										li#nav-menu-item-50604.menu-item.menu-item-type-post_type.menu-item-object-page.narrow
											a(href='http://bee.zecelucruri.ro/about/')
												span.item_inner
													span.menu_icon_wrapper
														i.menu_icon.blank.fa
													span.item_text About
												span.plus
										li#nav-menu-item-50605.menu-item.menu-item-type-post_type.menu-item-object-page.narrow
											a(href='http://bee.zecelucruri.ro/services/')
												span.item_inner
													span.menu_icon_wrapper
														i.menu_icon.blank.fa
													span.item_text Services
												span.plus
										li#nav-menu-item-50603.menu-item.menu-item-type-post_type.menu-item-object-page.narrow
											a(href='http://bee.zecelucruri.ro/contact/')
												span.item_inner
													span.menu_icon_wrapper
														i.menu_icon.blank.fa
													span.item_text Contact
												span.plus
								nav.mobile_menu
									ul#menu-main_menu-1
										li#mobile-menu-item-50602.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.current-menu-item.page_item.page-item-6.current_page_item
											a.current(href='http://bee.zecelucruri.ro/')
												span Homepage
											span.mobile_arrow
												i.fa.fa-angle-right
												i.fa.fa-angle-down
										li#mobile-menu-item-50590.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has_sub
											a(href='#')
												span Demos
											span.mobile_arrow
												i.fa.fa-angle-right
												i.fa.fa-angle-down
											ul.sub_menu
												li#mobile-menu-item-50591.menu-item.menu-item-type-custom.menu-item-object-custom
													a(href='http://demo.elated-themes.com/borderland1/')
														span Sierra
													span.mobile_arrow
														i.fa.fa-angle-right
														i.fa.fa-angle-down
												li#mobile-menu-item-50592.menu-item.menu-item-type-custom.menu-item-object-custom
													a(href='http://demo.elated-themes.com/borderland3/')
														span Range
													span.mobile_arrow
														i.fa.fa-angle-right
														i.fa.fa-angle-down
												li#mobile-menu-item-50593.menu-item.menu-item-type-custom.menu-item-object-custom
													a(href='http://demo.elated-themes.com/borderland4/')
														span Bronco
													span.mobile_arrow
														i.fa.fa-angle-right
														i.fa.fa-angle-down
												li#mobile-menu-item-50594.menu-item.menu-item-type-custom.menu-item-object-custom
													a(href='http://demo.elated-themes.com/borderland5/')
														span Pasture
													span.mobile_arrow
														i.fa.fa-angle-right
														i.fa.fa-angle-down
												li#mobile-menu-item-50595.menu-item.menu-item-type-custom.menu-item-object-custom
													a(href='http://demo.elated-themes.com/borderland6/')
														span Mesa
													span.mobile_arrow
														i.fa.fa-angle-right
														i.fa.fa-angle-down
												li#mobile-menu-item-50596.menu-item.menu-item-type-custom.menu-item-object-custom
													a(href='http://demo.elated-themes.com/borderland7/')
														span Maverick
													span.mobile_arrow
														i.fa.fa-angle-right
														i.fa.fa-angle-down
												li#mobile-menu-item-50597.menu-item.menu-item-type-custom.menu-item-object-custom
													a(href='http://demo.elated-themes.com/borderland8/')
														span Riata
													span.mobile_arrow
														i.fa.fa-angle-right
														i.fa.fa-angle-down
												li#mobile-menu-item-50598.menu-item.menu-item-type-custom.menu-item-object-custom
													a(href='http://demo.elated-themes.com/borderland9/')
														span Rockies
													span.mobile_arrow
														i.fa.fa-angle-right
														i.fa.fa-angle-down
												li#mobile-menu-item-50599.menu-item.menu-item-type-custom.menu-item-object-custom
													a(href='http://demo.elated-themes.com/borderland10/')
														span Plateau
													span.mobile_arrow
														i.fa.fa-angle-right
														i.fa.fa-angle-down
												li#mobile-menu-item-50600.menu-item.menu-item-type-custom.menu-item-object-custom
													a(href='http://demo.elated-themes.com/borderland11/')
														span Canyon
													span.mobile_arrow
														i.fa.fa-angle-right
														i.fa.fa-angle-down
												li#mobile-menu-item-50601.menu-item.menu-item-type-custom.menu-item-object-custom
													a(href='http://demo.elated-themes.com/borderland12/')
														span Outback
													span.mobile_arrow
														i.fa.fa-angle-right
														i.fa.fa-angle-down
										li#mobile-menu-item-50585.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has_sub
											a(href='#')
												span Portfolio
											span.mobile_arrow
												i.fa.fa-angle-right
												i.fa.fa-angle-down
											ul.sub_menu
												li#mobile-menu-item-50586.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has_sub
													a(href='#')
														span Standard
													span.mobile_arrow
														i.fa.fa-angle-right
														i.fa.fa-angle-down
													ul.sub_menu
														li#mobile-menu-item-50606.menu-item.menu-item-type-post_type.menu-item-object-page
															a(href='http://bee.zecelucruri.ro/standard-grid-1/')
																span In Grid 1
															span.mobile_arrow
																i.fa.fa-angle-right
																i.fa.fa-angle-down
														li#mobile-menu-item-50607.menu-item.menu-item-type-post_type.menu-item-object-page
															a(href='http://bee.zecelucruri.ro/standard-grid-2/')
																span In Grid 2
															span.mobile_arrow
																i.fa.fa-angle-right
																i.fa.fa-angle-down
														li#mobile-menu-item-50619.menu-item.menu-item-type-post_type.menu-item-object-page
															a(href='http://bee.zecelucruri.ro/standard-wide/')
																span Wide
															span.mobile_arrow
																i.fa.fa-angle-right
																i.fa.fa-angle-down
												li#mobile-menu-item-50587.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has_sub
													a(href='#')
														span Text Over Image
													span.mobile_arrow
														i.fa.fa-angle-right
														i.fa.fa-angle-down
													ul.sub_menu
														li#mobile-menu-item-50609.menu-item.menu-item-type-post_type.menu-item-object-page
															a(href='http://bee.zecelucruri.ro/text-over-image-grid/')
																span In Grid 1
															span.mobile_arrow
																i.fa.fa-angle-right
																i.fa.fa-angle-down
														li#mobile-menu-item-50608.menu-item.menu-item-type-post_type.menu-item-object-page
															a(href='http://bee.zecelucruri.ro/text-over-image-wide/')
																span Wide
															span.mobile_arrow
																i.fa.fa-angle-right
																i.fa.fa-angle-down
														li#mobile-menu-item-50610.menu-item.menu-item-type-post_type.menu-item-object-page
															a(href='http://bee.zecelucruri.ro/text-over-image-wide-no-space/')
																span Wide No Space
															span.mobile_arrow
																i.fa.fa-angle-right
																i.fa.fa-angle-down
												li#mobile-menu-item-50588.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has_sub
													a(href='#')
														span Text On Image Hover
													span.mobile_arrow
														i.fa.fa-angle-right
														i.fa.fa-angle-down
													ul.sub_menu
														li#mobile-menu-item-50612.menu-item.menu-item-type-post_type.menu-item-object-page
															a(href='http://bee.zecelucruri.ro/text-on-image-hover-grid/')
																span In Grid
															span.mobile_arrow
																i.fa.fa-angle-right
																i.fa.fa-angle-down
														li#mobile-menu-item-50611.menu-item.menu-item-type-post_type.menu-item-object-page
															a(href='http://bee.zecelucruri.ro/text-on-image-hover-wide/')
																span Wide
															span.mobile_arrow
																i.fa.fa-angle-right
																i.fa.fa-angle-down
														li#mobile-menu-item-50613.menu-item.menu-item-type-post_type.menu-item-object-page
															a(href='http://bee.zecelucruri.ro/text-on-image-hover-wide-no-space/')
																span Wide No Space
															span.mobile_arrow
																i.fa.fa-angle-right
																i.fa.fa-angle-down
												li#mobile-menu-item-50615.menu-item.menu-item-type-post_type.menu-item-object-page
													a(href='http://bee.zecelucruri.ro/masonry/')
														span Masonry
													span.mobile_arrow
														i.fa.fa-angle-right
														i.fa.fa-angle-down
												li#mobile-menu-item-50614.menu-item.menu-item-type-post_type.menu-item-object-page
													a(href='http://bee.zecelucruri.ro/portfolio-hover-effects/')
														span Portfolio Hover Effects
													span.mobile_arrow
														i.fa.fa-angle-right
														i.fa.fa-angle-down
										li#mobile-menu-item-50589.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.has_sub
											a(href='#')
												span Blog
											span.mobile_arrow
												i.fa.fa-angle-right
												i.fa.fa-angle-down
											ul.sub_menu
												li#mobile-menu-item-50616.menu-item.menu-item-type-post_type.menu-item-object-page
													a(href='http://bee.zecelucruri.ro/blog-standard/')
														span Blog Standard
													span.mobile_arrow
														i.fa.fa-angle-right
														i.fa.fa-angle-down
												li#mobile-menu-item-50617.menu-item.menu-item-type-post_type.menu-item-object-page
													a(href='http://bee.zecelucruri.ro/blog-with-sidebar/')
														span Blog With Sidebar
													span.mobile_arrow
														i.fa.fa-angle-right
														i.fa.fa-angle-down
												li#mobile-menu-item-50618.menu-item.menu-item-type-post_type.menu-item-object-page
													a(href='http://bee.zecelucruri.ro/blog-masonry-wide/')
														span Blog Masonry Wide
													span.mobile_arrow
														i.fa.fa-angle-right
														i.fa.fa-angle-down
										li#mobile-menu-item-50604.menu-item.menu-item-type-post_type.menu-item-object-page
											a(href='http://bee.zecelucruri.ro/about/')
												span About
											span.mobile_arrow
												i.fa.fa-angle-right
												i.fa.fa-angle-down
										li#mobile-menu-item-50605.menu-item.menu-item-type-post_type.menu-item-object-page
											a(href='http://bee.zecelucruri.ro/services/')
												span Services
											span.mobile_arrow
												i.fa.fa-angle-right
												i.fa.fa-angle-down
										li#mobile-menu-item-50603.menu-item.menu-item-type-post_type.menu-item-object-page
											a(href='http://bee.zecelucruri.ro/contact/')
												span Contact
											span.mobile_arrow
												i.fa.fa-angle-right
												i.fa.fa-angle-down
				a#back_to_top(href='#')
					span.eltd_icon_stack
						span.eltd_icon_font_elegant.arrow_carrot-up(aria-hidden='true')
				.paspartu_outer.paspartu_on_bottom_slider
					.paspartu_left
					.paspartu_right
					.paspartu_inner
						.content.has_slider
							.meta
								.seo_title Bee | Just another WordPress site
								span#eltd_page_id 6
								.body_classes
									| home,page-template,page-template-full_width,page-template-full_width-php,page,page-id-6,eltd-core-1.0.3,ajax_fade,page_not_loaded,,borderland child-child-ver-1.0.0,borderland-ver-1.15, vertical_menu_with_scroll,smooth_scroll,paspartu_enabled,wpb-js-composer js-comp-ver-5.4.7,vc_responsive
							.content_inner
								.eltd_slider
									.eltd_slider_inner
										#eltd-home-slider.carousel.slide.fade.full_screen.eltd_auto_start.header_not_transparent(data-eltd_responsive_graphic_coefficients='1,1,0.8,0.7,0.6,0.5,0.4', data-eltd_responsive_title_coefficients='1,1,0.8,0.7,0.6,0.5,0.4', data-eltd_responsive_subtitle_coefficients='1,1,0.8,0.7,0.6,0.5,0.4', data-eltd_responsive_text_coefficients='1,1,0.8,0.7,0.6,0.5,0.4', data-eltd_responsive_button_coefficients='1,1,0.8,0.7,0.6,0.5,0.4', data-slide_animation='6000', data-parallax='no')
											.eltd_slider_preloader
												.ajax_loader
													.ajax_loader_1
														.rotating_cubes
															.cube1
															.cube2
											.carousel-inner.relative_position(style='height: 100%')
												.item.has_thumbnail.content_vertical_middle(style=' padding-top: 0px;')
													.image(style='background-image:url(http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/03/slide-1.jpg)')
														img(src='http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/03/slide-1.jpg', alt='Warmbreeze')
													.slider_content_outer
														.slider_content.center(data-0='opacity: 1;   ', data-400='opacity: 0;  ')
															div
																.thumb.fade
																	img(data-width='', data-height='', src='http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/03/slider-graphic-1.png', alt='Warmbreeze')
															.text.one_by_one.fade(style='')
																.el
																	div
																		h2.eltd_slide_title(style="font-size: 85px;font-family: 'Raleway';font-style: normal;font-weight: 500;letter-spacing: 16px;text-transform: uppercase;margin-bottom: 0px;")
																			span Warmbreeze
																.el
																	div
																		h3.eltd_slide_text(style="font-size: 35px;font-family: 'Dancing Script';font-style: normal;font-weight: 400;letter-spacing: 0px;text-transform: capitalize;")
																			span Carefully Crafted Photographer Wordpress Theme
																.el
																	.slide_buttons_holder
																		a.qbutton.icon_right(data-hover-color='#1f1f1f', data-hover-background-color='#ffffff', style='font-family:Raleway, sans-serif;letter-spacing:4px;font-style:normal;font-weight:700;font-size:13px;color:#ffffff;background-color:#1f1f1f;border-width:0px;line-height:45px;height:45px;text-align:center;text-transform:uppercase;padding: 0 37px;', href='#', target='_self') Portfolio
												.item.has_thumbnail.content_vertical_middle(style=' padding-top: 0px;')
													.image(style='background-image:url(http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/03/slide-3.jpg)')
														img(src='http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/03/slide-3.jpg', alt='Seabreeze')
													.slider_content_outer
														.slider_content.center(data-0='opacity: 1;   ', data-400='opacity: 0;  ')
															div
																.thumb.fade
																	img(data-width='', data-height='', src='http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/03/slider-graphic-1.png', alt='Seabreeze')
															.text.one_by_one.fade(style='')
																.el
																	div
																		h2.eltd_slide_title(style="font-size: 85px;font-family: 'Raleway';font-style: normal;font-weight: 500;letter-spacing: 16px;text-transform: uppercase;margin-bottom: 0px;")
																			span Seabreeze
																.el
																	div
																		h3.eltd_slide_text(style="font-size: 35px;font-family: 'Dancing Script';font-style: normal;font-weight: 400;letter-spacing: 0px;text-transform: capitalize;")
																			span Carefully Crafted Photographer Wordpress Theme
																.el
																	.slide_buttons_holder
																		a.qbutton.icon_right(data-hover-color='#1f1f1f', data-hover-background-color='#ffffff', style='font-family:Raleway, sans-serif;letter-spacing:4px;font-style:normal;font-weight:700;font-size:13px;color:#ffffff;background-color:#1f1f1f;border-width:0px;line-height:45px;height:45px;text-align:center;text-transform:uppercase;padding: 0 37px;', href='#', target='_self') Portfolio
												.item.has_thumbnail.content_vertical_middle(style=' padding-top: 0px;')
													.image(style='background-image:url(http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/03/slide-4.jpg)')
														img(src='http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/03/slide-4.jpg', alt='Snowstorm')
													.slider_content_outer
														.slider_content.center(data-0='opacity: 1;   ', data-400='opacity: 0;  ')
															div
																.thumb.fade
																	img(data-width='', data-height='', src='http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/03/slider-graphic-1.png', alt='Snowstorm')
															.text.one_by_one.fade(style='')
																.el
																	div
																		h2.eltd_slide_title(style="font-size: 85px;font-family: 'Raleway';font-style: normal;font-weight: 500;letter-spacing: 16px;text-transform: uppercase;margin-bottom: 0px;")
																			span Snowstorm
																.el
																	div
																		h3.eltd_slide_text(style="font-size: 35px;font-family: 'Dancing Script';font-style: normal;font-weight: 400;letter-spacing: 0px;text-transform: capitalize;")
																			span Carefully Crafted Photographer Wordpress Theme
																.el
																	.slide_buttons_holder
																		a.qbutton.icon_right(data-hover-color='#1f1f1f', data-hover-background-color='#ffffff', style='font-family:Raleway, sans-serif;letter-spacing:4px;font-style:normal;font-weight:700;font-size:13px;color:#ffffff;background-color:#1f1f1f;border-width:0px;line-height:45px;height:45px;text-align:center;text-transform:uppercase;padding: 0 37px;', href='#', target='_self') Portfolio
												.item.has_thumbnail.content_vertical_middle(style=' padding-top: 0px;')
													.image(style='background-image:url(http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/03/slide-5.jpg)')
														img(src='http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/03/slide-5.jpg', alt='Earthlight')
													.slider_content_outer
														.slider_content.center(data-0='opacity: 1;   ', data-400='opacity: 0;  ')
															div
																.thumb.fade
																	img(data-width='', data-height='', src='http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/03/slider-graphic-1.png', alt='Earthlight')
															.text.one_by_one.fade(style='')
																.el
																	div
																		h2.eltd_slide_title(style="font-size: 85px;font-family: 'Raleway';font-style: normal;font-weight: 500;letter-spacing: 16px;text-transform: uppercase;margin-bottom: 0px;")
																			span Earthlight
																.el
																	div
																		h3.eltd_slide_text(style="font-size: 35px;font-family: 'Dancing Script';font-style: normal;font-weight: 400;letter-spacing: 0px;text-transform: capitalize;")
																			span Carefully Crafted Photographer Wordpress Theme
																.el
																	.slide_buttons_holder
																		a.qbutton.icon_right(data-hover-color='#1f1f1f', data-hover-background-color='#ffffff', style='font-family:Raleway, sans-serif;letter-spacing:4px;font-style:normal;font-weight:700;font-size:13px;color:#ffffff;background-color:#1f1f1f;border-width:0px;line-height:45px;height:45px;text-align:center;text-transform:uppercase;padding: 0 37px;', href='#', target='_self') Portfolio
												.item.has_thumbnail.content_vertical_middle(style=' padding-top: 0px;')
													.image(style='background-image:url(http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/03/slide-7.jpg)')
														img(src='http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/03/slide-7.jpg', alt='Blizzard')
													.slider_content_outer
														.slider_content.center(data-0='opacity: 1;   ', data-400='opacity: 0;  ')
															div
																.thumb.fade
																	img(data-width='', data-height='', src='http://demo.elated-themes.com/borderland2/wp-content/uploads/2015/03/slider-graphic-1.png', alt='Blizzard')
															.text.one_by_one.fade(style='')
																.el
																	div
																		h2.eltd_slide_title(style="font-size: 85px;font-family: 'Raleway';font-style: normal;font-weight: 500;letter-spacing: 16px;text-transform: uppercase;margin-bottom: 0px;")
																			span Blizzard
																.el
																	div
																		h3.eltd_slide_text(style="font-size: 35px;font-family: 'Dancing Script';font-style: normal;font-weight: 400;letter-spacing: 0px;text-transform: capitalize;")
																			span Carefully Crafted Photographer Wordpress Theme
																.el
																	.slide_buttons_holder
																		a.qbutton.icon_right(data-hover-color='#1f1f1f', data-hover-background-color='#ffffff', style='font-family:Raleway, sans-serif;letter-spacing:4px;font-style:normal;font-weight:700;font-size:13px;color:#ffffff;background-color:#1f1f1f;border-width:0px;line-height:45px;height:45px;text-align:center;text-transform:uppercase;padding: 0 37px;', href='#', target='_self') Portfolio
											ol.carousel-indicators(data-start='opacity: 1;', data-300='opacity:0;')
												li.active(data-target='#eltd-home-slider', data-slide-to='0')
												li(data-target='#eltd-home-slider', data-slide-to='1')
												li(data-target='#eltd-home-slider', data-slide-to='2')
												li(data-target='#eltd-home-slider', data-slide-to='3')
												li(data-target='#eltd-home-slider', data-slide-to='4')
											.controls_holder
												a.left.carousel-control(href='#eltd-home-slider', data-slide='prev', data-start='opacity: 1;', data-300='opacity:0;')
													span.prev_nav
														span.arrow_carrot-left
												a.right.carousel-control(href='#eltd-home-slider', data-slide='next', data-start='opacity: 1;', data-300='opacity:0;')
													span.next_nav
														span.arrow_carrot-right
								.full_width
									.full_width_inner
										// Start   ABOUT US    Section
										| about us
										// End     ABOUT US    Section
										// Start   SERVICES    Section
										.vc_row.wpb_row.section.vc_row-fluid.grid_section(style=' padding-top:40px; padding-bottom:70px; text-align:left;')
											.section_inner.clearfix
												.section_inner_margin.section_services.clearfix(style='text-align: center;')
													.vc_col-sm-1.wpb_column.vc_column_container
														.wpb_wrapper
													.vc_col-sm-10.wpb_column.vc_column_container
														.wpb_wrapper
															.wpb_text_column.wpb_content_element
																style.
																	/*--------------------HOMEPAGE SERVICES SECTION--------------------*/
																	.hp-section-services p { margin-bottom: 30px; }
																	.hp-services-list { margin:0px; padding:0px; list-style: none; display: inline-block; }
																	.hp-services-list .list-item { margin-bottom: 15px; }
																	.hp-services-list .list-item a { display: block; color: #000000; text-decoration: none; }
																	.hp-services-list .list-item .list-item-icon { display: table-cell; width: 80px; text-align: left; vertical-align: middle; }
																	.hp-services-list .list-item .list-item-icon img { width: 40px;}
																	.hp-services-list .list-item .list-item-text { display: table-cell; text-align: left; vertical-align: middle; }
																	.hp-services-list .list-item:last-child { margin-bottom: 0px; }
																.hp-section-content.text-center
																	p
																		| We provide the complete blending of services for a successful recipe, independently or in integrated solutions
																	ul.hp-services-list
																		li.list-item
																			a(href='#')
																				span.list-item-icon
																					img(src='http://bee.zecelucruri.ro/wp-content/themes/borderland-bee/images/logo_hex_1.png', alt='', title='')
																				span.list-item-text Architecture
																		li.list-item
																			a(href='#')
																				span.list-item-icon
																					img(src='http://bee.zecelucruri.ro/wp-content/themes/borderland-bee/images/logo_hex_2.png', alt='', title='')
																				span.list-item-text Engineering
																		li.list-item
																			a(href='#')
																				span.list-item-icon
																					img(src='http://bee.zecelucruri.ro/wp-content/themes/borderland-bee/images/logo_hex_3.png', alt='', title='')
																				span.list-item-text Construction
																		li.list-item
																			a(href='#')
																				span.list-item-icon
																					img(src='http://bee.zecelucruri.ro/wp-content/themes/borderland-bee/images/logo_hex_4.png', alt='', title='')
																				span.list-item-text Interior Design & Decoration
																		li.list-item
																			a(href='#')
																				span.list-item-icon
																					img(src='http://bee.zecelucruri.ro/wp-content/themes/borderland-bee/images/logo_hex_5.png', alt='', title='')
																				span.list-item-text Project Management
																		li.list-item
																			a(href='#')
																				span.list-item-icon
																					img(src='http://bee.zecelucruri.ro/wp-content/themes/borderland-bee/images/logo_hex_6.png', alt='', title='')
																				span.list-item-text Bee, the complete solution
																.wpb_wrapper
																	a Architecture
																	span arhitecture short text
																.wpb_wrapper
																	a Engineering
																	span Engineering short text
																.wpb_wrapper
																	a Construction
																	span Constrution  short text
																.wpb_wrapper
																	a Interior Design
																	span Interior design  short text
																.wpb_wrapper
																	a Decoration
																	span Decoration  short text
																.wpb_wrapper
																	a Project Management
																	span Project Managment  short text
																.wpb_wrapper
																	a
																		| We provide the complete blending of services for a successful recipe, independently or in integrated solutions
															.separator.transparent.center(style='margin-top:30px;margin-bottom:0px')
										// End     SERVICES    Section
										// Start   PROJECTS MASONRY    Section
										| project masonry
										// End     PROJECTS MASONRY    Section
										//
											script type="text/javascript" src="http://bee.zecelucruri.ro/wp-content/themes/borderland/js/default_dynamic.php"></script>
											<script type="text/javascript" src="http://bee.zecelucruri.ro/wp-content/themes/borderland/js/default.min.js"></script
										// Start   OUR TEAM    Section
										| our team
										// End     OUR TEAM    Section
										// Start   OUR TEAM    Section
										| contact
										// End     OUR TEAM    Section
							// close div.content_inner
						// close div.content
					// paspartu_inner close div
				// paspartu_outer close div
				
				block content

				footer
					.footer_inner.clearfix
						.footer_top_holder
							.footer_top.footer_top_full
								.four_columns.clearfix
									.eltd_column.column1
										.column_inner
											#text-3.widget.widget_text
												h4 About Us
												.textwidget
													.separator.transparent.center(style='margin-top:30px;margin-bottom:0px')
													| Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.tation ullamcorper suscipit lobortis nisldolore eu feugiat nulla.
													.separator.transparent.center(style='margin-top:35px;margin-bottom:0px')
													span.eltd_icon_shade.eltd_icon_shortcode.font_awesome.square(data-hover-background-color='#5d5d5d', style='background-color: #353535;border-width: 0px!important; border-style:solid;margin: 0 -2px 0 0;line-height:40px;width:40px;height:40px;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;')
														a(href='https://www.facebook.com/', target='_blank', style='color: #ffffff;')
															i.eltd_icon_font_awesome.fa.fa-facebook(style='color: #ffffff;vertical-align:bottom;line-height:40px;font-size: 13px; ', data-hover-color='#ffffff')
													span.eltd_icon_shade.eltd_icon_shortcode.font_awesome.square(data-hover-background-color='#5d5d5d', style='background-color: #353535;border-width: 0px!important; border-style:solid;margin: 0 -1px 0 0;line-height:40px;width:40px;height:40px;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;')
														a(href='https://twitter.com/', target='_blank', style='color: #ffffff;')
															i.eltd_icon_font_awesome.fa.fa-twitter(style='color: #ffffff;vertical-align:bottom;line-height:40px;font-size: 13px; ', data-hover-color='#ffffff')
													span.eltd_icon_shade.eltd_icon_shortcode.font_awesome.square(data-hover-background-color='#5d5d5d', style='background-color: #353535;border-width: 0px!important; border-style:solid;margin: 0 0 0 0;line-height:40px;width:40px;height:40px;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;')
														a(href='https://www.tumblr.com/', target='_blank', style='color: #ffffff;')
															i.eltd_icon_font_awesome.fa.fa-tumblr(style='color: #ffffff;vertical-align:bottom;line-height:40px;font-size: 13px; ', data-hover-color='#ffffff')
									.eltd_column.column2
										.column_inner
											#text-4.widget.widget_text
												h4 Latest Projects
												.textwidget
													.separator.transparent.center(style='margin-top:30px;margin-bottom:0px')
									.eltd_column.column3
										.column_inner
											#text-7.widget.widget_text
												h4 Recent Posts
												.textwidget
													.separator.transparent.center(style='margin-top:1px;margin-bottom:0px')
											#recent-posts-3.widget.widget_recent_entries
												h4  
												ul
													li
														a(href='http://bee.zecelucruri.ro/history-of-brooklyn-2/') History of Brooklyn
													li
														a(href='http://bee.zecelucruri.ro/penang-street-food-2/') Penang Street Food
													li
														a(href='http://bee.zecelucruri.ro/teatime-in-iceland-2/') Teatime in Iceland
													li
														a(href='http://bee.zecelucruri.ro/j-r-r-tolkien-2/') J.R.R. Tolkien
													li
														a(href='http://bee.zecelucruri.ro/the-mist-of-madagascar-2/') The Mist of Madagascar
													li
														a(href='http://bee.zecelucruri.ro/fingers-in-the-noise-elixir-2/') Fingers In The Noise – Elixir
									.eltd_column.column4
										.column_inner
											#text-6.widget.widget_text
												h4 My Photo Stream
												.textwidget
													.wpb_gallery.wpb_content_element.vc_clearfix.wpb_gallery_title_desc_on_image
														.wpb_wrapper
															.wpb_gallery_slides.wpb_image_grid(data-interval='3')
																.gallery_holder
																	ul.gallery_inner.gallery_with_space.v3
																		li.no_grayscale
																			a.prettyphoto(href='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-4.jpg', data-rel='prettyPhoto[rel-6-958840256]')
																				span.gallery_hover(style='background-color: rgba(0,0,0,0.35);')
																				img.attachment-full(width='550', height='319', src='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-4.jpg', alt='a', srcset='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-4.jpg 550w, http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-4-300x174.jpg 300w', sizes='(max-width: 550px) 100vw, 550px')
																		li.no_grayscale
																			a.prettyphoto(href='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-3.jpg', data-rel='prettyPhoto[rel-6-958840256]')
																				span.gallery_hover(style='background-color: rgba(0,0,0,0.35);')
																				img.attachment-full(width='550', height='319', src='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-3.jpg', alt='a', srcset='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-3.jpg 550w, http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-3-300x174.jpg 300w', sizes='(max-width: 550px) 100vw, 550px')
																		li.no_grayscale
																			a.prettyphoto(href='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-2.jpg', data-rel='prettyPhoto[rel-6-958840256]')
																				span.gallery_hover(style='background-color: rgba(0,0,0,0.35);')
																				img.attachment-full(width='550', height='319', src='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-2.jpg', alt='a', srcset='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-2.jpg 550w, http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-2-300x174.jpg 300w', sizes='(max-width: 550px) 100vw, 550px')
																		li.no_grayscale
																			a.prettyphoto(href='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-2.jpg', data-rel='prettyPhoto[rel-6-958840256]')
																				span.gallery_hover(style='background-color: rgba(0,0,0,0.35);')
																				img.attachment-full(width='550', height='319', src='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-2.jpg', alt='a', srcset='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-2.jpg 550w, http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-2-300x174.jpg 300w', sizes='(max-width: 550px) 100vw, 550px')
																		li.no_grayscale
																			a.prettyphoto(href='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-1.jpg', data-rel='prettyPhoto[rel-6-958840256]')
																				span.gallery_hover(style='background-color: rgba(0,0,0,0.35);')
																				img.attachment-full(width='550', height='319', src='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-1.jpg', alt='a', srcset='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-1.jpg 550w, http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-1-300x174.jpg 300w', sizes='(max-width: 550px) 100vw, 550px')
																		li.no_grayscale
																			a.prettyphoto(href='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-3.jpg', data-rel='prettyPhoto[rel-6-958840256]')
																				span.gallery_hover(style='background-color: rgba(0,0,0,0.35);')
																				img.attachment-full(width='550', height='319', src='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-3.jpg', alt='a', srcset='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-3.jpg 550w, http://bee.zecelucruri.ro/wp-content/uploads/2015/03/services-3-300x174.jpg 300w', sizes='(max-width: 550px) 100vw, 550px')
						.footer_bottom_border_holder(style='height: 1px;background-color: #272727;')
						.footer_bottom_holder
							.footer_bottom_holder_inner
								.column_inner
									.textwidget
										.eltd_elements_holder.six_columns.responsive_mode_from_768
											.eltd_elements_item.vertical_alignment_middle(data-animation='no')
												.eltd_elements_item_inner
													.eltd_elements_item_content.eltd_elements_inner_842476158(style='text-align:center;')
														style(type='text/css', data-type='eltd_elements-custom-padding').
															@media only screen and (min-width: 1000px) and (max-width: 1300px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_842476158{padding:0px 10px 0px 10px!important}}@media only screen and (min-width: 768px) and (max-width: 1000px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_842476158{padding:0px 10px 0px 10px!important}}@media only screen and (min-width: 600px) and (max-width: 768px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_842476158{padding:10px 10px 10px 10px!important}}@media only screen and (min-width: 480px) and (max-width: 600px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_842476158{padding:10px 10px 10px 10px!important}}@media only screen and (max-width: 480px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_842476158{padding:10px 10px 10px 10px!important}}
														.image_hover(style='', data-transition-delay='')
															.images_holder
																img.active_image(src='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/client-1.png', alt='', style='')
																img.hover_image(src='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/client-1a.png', alt='', style='')
											.eltd_elements_item.vertical_alignment_middle(data-animation='no')
												.eltd_elements_item_inner
													.eltd_elements_item_content.eltd_elements_inner_1649931706(style='text-align:center;')
														style(type='text/css', data-type='eltd_elements-custom-padding').
															@media only screen and (min-width: 1000px) and (max-width: 1300px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_1649931706{padding:0px 10px 0px 10px!important}}@media only screen and (min-width: 768px) and (max-width: 1000px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_1649931706{padding:0px 10px 0px 10px!important}}@media only screen and (min-width: 600px) and (max-width: 768px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_1649931706{padding:10px 10px 10px 10px!important}}@media only screen and (min-width: 480px) and (max-width: 600px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_1649931706{padding:10px 10px 10px 10px!important}}@media only screen and (max-width: 480px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_1649931706{padding:10px 10px 10px 10px!important}}
														.image_hover(style='', data-transition-delay='')
															.images_holder
																img.active_image(src='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/client-2.png', alt='', style='')
																img.hover_image(src='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/client-2a.png', alt='', style='')
											.eltd_elements_item.vertical_alignment_middle(data-animation='no')
												.eltd_elements_item_inner
													.eltd_elements_item_content.eltd_elements_inner_633341291(style='text-align:center;')
														style(type='text/css', data-type='eltd_elements-custom-padding').
															@media only screen and (min-width: 1000px) and (max-width: 1300px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_633341291{padding:0px 10px 0px 10px!important}}@media only screen and (min-width: 768px) and (max-width: 1000px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_633341291{padding:0px 10px 0px 10px!important}}@media only screen and (min-width: 600px) and (max-width: 768px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_633341291{padding:10px 10px 10px 10px!important}}@media only screen and (min-width: 480px) and (max-width: 600px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_633341291{padding:10px 10px 10px 10px!important}}@media only screen and (max-width: 480px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_633341291{padding:10px 10px 10px 10px!important}}
														.image_hover(style='', data-transition-delay='')
															.images_holder
																img.active_image(src='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/client-3.png', alt='', style='')
																img.hover_image(src='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/client-3a.png', alt='', style='')
											.eltd_elements_item.vertical_alignment_middle(data-animation='no')
												.eltd_elements_item_inner
													.eltd_elements_item_content.eltd_elements_inner_29773660(style='text-align:center;')
														style(type='text/css', data-type='eltd_elements-custom-padding').
															@media only screen and (min-width: 1000px) and (max-width: 1300px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_29773660{padding:0px 10px 0px 10px!important}}@media only screen and (min-width: 768px) and (max-width: 1000px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_29773660{padding:0px 10px 0px 10px!important}}@media only screen and (min-width: 600px) and (max-width: 768px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_29773660{padding:10px 10px 10px 10px!important}}@media only screen and (min-width: 480px) and (max-width: 600px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_29773660{padding:10px 10px 10px 10px!important}}@media only screen and (max-width: 480px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_29773660{padding:10px 10px 10px 10px!important}}
														.image_hover(style='', data-transition-delay='')
															.images_holder
																img.active_image(src='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/client-4.png', alt='', style='')
																img.hover_image(src='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/client-4a.png', alt='', style='')
											.eltd_elements_item.vertical_alignment_middle(data-animation='no')
												.eltd_elements_item_inner
													.eltd_elements_item_content.eltd_elements_inner_1913488376(style='text-align:center;')
														style(type='text/css', data-type='eltd_elements-custom-padding').
															@media only screen and (min-width: 1000px) and (max-width: 1300px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_1913488376{padding:0px 10px 0px 10px!important}}@media only screen and (min-width: 768px) and (max-width: 1000px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_1913488376{padding:0px 10px 0px 10px!important}}@media only screen and (min-width: 600px) and (max-width: 768px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_1913488376{padding:10px 10px 10px 10px!important}}@media only screen and (min-width: 480px) and (max-width: 600px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_1913488376{padding:10px 10px 10px 10px!important}}@media only screen and (max-width: 480px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_1913488376{padding:10px 10px 10px 10px!important}}
														.image_hover(style='', data-transition-delay='')
															.images_holder
																img.active_image(src='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/client-5.png', alt='', style='')
																img.hover_image(src='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/client-5a.png', alt='', style='')
											.eltd_elements_item.vertical_alignment_middle(data-animation='no')
												.eltd_elements_item_inner
													.eltd_elements_item_content.eltd_elements_inner_704861095(style='text-align:center;')
														style(type='text/css', data-type='eltd_elements-custom-padding').
															@media only screen and (min-width: 1000px) and (max-width: 1300px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_704861095{padding:0px 10px 0px 10px!important}}@media only screen and (min-width: 768px) and (max-width: 1000px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_704861095{padding:0px 10px 0px 10px!important}}@media only screen and (min-width: 600px) and (max-width: 768px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_704861095{padding:10px 10px 10px 10px!important}}@media only screen and (min-width: 480px) and (max-width: 600px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_704861095{padding:10px 10px 10px 10px!important}}@media only screen and (max-width: 480px) {.eltd_elements_holder .eltd_elements_item_content.eltd_elements_inner_704861095{padding:10px 10px 10px 10px!important}}
														.image_hover(style='', data-transition-delay='')
															.images_holder
																img.active_image(src='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/client-6.png', alt='', style='')
																img.hover_image(src='http://bee.zecelucruri.ro/wp-content/uploads/2015/03/client-6a.png', alt='', style='')
			// close div.wrapper_inner
		// close div.wrapper
		script(type='text/javascript').
			/* <![CDATA[ */
			var wpcf7 = {"apiSettings":{"root":"http:\\/\/bee.zecelucruri.ro\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
			/* ]]> */
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.1')
		script(type='text/javascript').
			/* <![CDATA[ */
			var eltdLike = {"ajaxurl":"http:\\/\/bee.zecelucruri.ro\/wp-admin\/admin-ajax.php"};
			/* ]]> */
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/themes/borderland/js/eltd-like.js?ver=1.0')
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/themes/borderland/js/plugins.js?ver=4.9.6')
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/themes/borderland/js/jquery.carouFredSel-6.2.1.js?ver=4.9.6')
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/themes/borderland/js/jquery.fullPage.min.js?ver=4.9.6')
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/themes/borderland/js/lemmon-slider.js?ver=4.9.6')
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/themes/borderland/js/jquery.mousewheel.min.js?ver=4.9.6')
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/themes/borderland/js/jquery.touchSwipe.min.js?ver=4.9.6')
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/plugins/js_composer/assets/lib/bower/isotope/dist/isotope.pkgd.min.js?ver=5.4.7')
		script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?ver=4.9.6')
		script(type='text/javascript').
			/* <![CDATA[ */
			var no_ajax_obj = {"no_ajax_pages":["","http:\\/\/bee.zecelucruri.ro\/wp-login.php?action=logout&_wpnonce=6f79fa592b"]};
			/* ]]> */
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/themes/borderland/js/default_dynamic.js?ver=1523706786')
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/themes/borderland/js/default.min.js?ver=4.9.6')
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/themes/borderland/js/blog.min.js?ver=4.9.6')
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/themes/borderland/js/custom_js.js?ver=1523706786')
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/themes/borderland/js/TweenLite.min.js?ver=4.9.6')
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/themes/borderland/js/ScrollToPlugin.min.js?ver=4.9.6')
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/themes/borderland/js/smoothPageScroll.js?ver=4.9.6')
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-includes/js/comment-reply.min.js?ver=4.9.6')
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/themes/borderland/js/ajax.min.js?ver=4.9.6')
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=5.4.7')
		script(type='text/javascript', src='http://bee.zecelucruri.ro/wp-includes/js/wp-embed.min.js?ver=4.9.6')
